{% extends 'index.html'%}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Modifier l'information de l'utilisateur</h1>
             <p class="lead fw-normal text-white-50 mb-0">update user information...</p>
        </div>
    </div>
</header>








<div class="container">
	<div class="row">
		<center>
			<div class="col-8">
				<form method="POST" action="{% url 'update_info' %}"> 
					{% csrf_token %}
					<br><br>{{ form.as_p }}
					<br><br><br> 
					<strong>autre information de facturation</strong>
					{{shipping_form.as_p}}			
					<button type="submit" class="btn btn-secondary">Modifier l'utilisateur info</button>
					
				</form>
				
					

			</div>
		</center>
	</div>
</div>
{% endblock %}